<div class="news-list-container">
  <div class="nav-container">
    <h2 class="news-list-title">招聘管理</h2>
    <button nz-button nzType="primary" routerLink="create-article/0">新增招聘信息</button>
  </div>
  <nz-table #nzTable [nzData]="recruitmentList" [nzTotal]="total" [nzPageSize]="10" nzTableLayout="fixed">
    <thead>
    <tr>
      <th nzWidth="80px">序号</th>
      <th>岗位</th>
      <th>部门</th>
      <th>发布时间</th>
      <th>状态</th>
      <th nzWidth="350px">操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of nzTable.data, index as index" >
      <tr>
        <td>{{ index + 1 }}</td>
        <td nzEllipsis [nzTooltipTitle]="data.title" nz-tooltip>{{ data.title }}</td>
        <td>{{ data.modifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.status }}</td>
        <td>
          <button nz-button nzType="primary" nzShape="round" routerLink="create-article/{{ data.id }}">编辑</button>
          <button nz-button nzType="primary" nzDanger nzShape="round" (click)="deleteRecruit(data.id)">删除</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</div>
