<pc-core-container class="news-detail-container">
  <div class="news-detail--content">
    <div class="breadcrumb"><a>新闻中心 > </a>公司新闻</div>
    <h2 class="news-detail-title">{{ newsDetail?.title }}</h2>
    <div class="news-detail-time">发布时间：{{ newsDetail?.modifyDate | date: 'yyyy-MM-dd' }}</div>
    <div class="news-detail-html" [innerHTML]="newsDetail?.content | richTextNoSanitize"></div>
    <div class="news-detail-pagination">
      <a *ngIf="preRelated" routerLink="/news-center/news-detail/{{ preRelated?.id }}">上一篇：{{ preRelated?.title }}</a>
      <a *ngIf="nextRelated" routerLink="/news-center/news-detail/{{ nextRelated?.id }}">下一篇：{{ nextRelated?.title }}</a>
    </div>
  </div>
</pc-core-container>
