<div class="home-carousel">
  <nz-carousel #nzCarouselComponent nzEffect="scrollx" [nzAutoPlay]="true">
    <div nz-carousel-content class="carousel-item item-one">
      <pc-core-container>
        <div class="wrapper">
          <div class="content-group">
            <img [src]="getImage('pc-banner-1-slogan')" class="slogan" alt="">
          </div>
        </div>
      </pc-core-container>
    </div>
    <div nz-carousel-content class="carousel-item item-two">
      <pc-core-container>
        <div class="wrapper">
          <img [src]="getImage('pc-banner-2-element')" class="phone-element" alt="">
          <div class="right-block">
            <img [src]="getImage('pc-banner-2-slogan')" class="slogan" alt="">
            <a class="button-like red" routerLink="/product-introduction">了解更多</a>
          </div>
        </div>
      </pc-core-container>
    </div>
    <div nz-carousel-content class="carousel-item item-three">
      <pc-core-container>
        <div class="wrapper">
          <div class="content-group">
            <img [src]="getImage('pc-banner-3-slogan')" class="slogan" alt="">
            <a class="button-like purple" routerLink="/product-introduction">了解更多</a>
          </div>
        </div>
      </pc-core-container>
    </div>
  </nz-carousel>
  <div class="carousel-btn-group">
    <img [src]="base64Pics.CAROUSEL_PREV" class="carousel-btn prev" (click)="nzCarouselComponent.pre()" alt="">
    <img [src]="base64Pics.CAROUSEL_NEXT" class="carousel-btn next" (click)="nzCarouselComponent.next()" alt="">
  </div>
</div>
