@import "src/styles/images.pc";
@import "src/styles/common.pc";

$carousel-height: 620px;

.home-carousel {
  width: 100%;
  height: $carousel-height;
  position: relative;
  user-select: none;
  &:hover {
    .carousel-btn {
      opacity: 1;
    }
  }

  nz-carousel {
    height: $carousel-height;
    position: relative;
  }

  [nz-carousel-content] {
    height: $carousel-height!important;
  }
  .carousel-item {
    height: $carousel-height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .wrapper {
      position: relative;
      width: 100%;
      height: $carousel-height;
    }
    .banner-desc-container{
      padding-top: 240px;
      .button-like {
        width: 72px;
        height: 24px;
        border: 1px solid #fff;
        font-size: 12px;
        margin-top: 30px;
        color: #fff;
        display: inline-block;
        line-height: 24px;
        &:hover {
          background-color: $theme-color;
          color: #fff;
          border-color: $theme-color;
        }
      }
    }

    &.item-one {
      background-image:  $pc-banner-1;
      background-size: cover;
      width: 100%;
    }
    &.item-two {
      background-image: $pc-banner-2;
      .banner-desc-container {
        position: absolute;
        left: 255px;
      }
      .phone-element {
        position: absolute;
        @include absolute-y-middle;
        right: 0;
      }
    }
    &.item-three {
      background-image: $pc-banner-3;
    }
    &.item-four {
      background-image: $pc-banner-4;
      background-size: cover;
      width: 100%;
    }
  }

  .carousel-btn {
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &.prev {
      left: 90px;
    }
    &.next {
      right: 90px;
    }
  }
  .ant-carousel .slick-dots-bottom, .ant-popover-placement-leftBottom>.ant-popover-content>.ant-popover-arrow, .ant-popover-placement-rightBottom>.ant-popover-content>.ant-popover-arrow {
    bottom: 30px;
  }
}
