@import "src/styles/images.pc";
@import "src/styles/common.pc";

$carousel-height: 620px;

.home-carousel {
  width: 100%;
  height: $carousel-height;
  position: relative;
  &:hover {
    .carousel-btn {
      opacity: 1;
    }
  }

  nz-carousel {
    height: $carousel-height;
    position: relative;
  }

  [nz-carousel-content] {
    height: $carousel-height!important;
  }
  .carousel-item {
    height: $carousel-height;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .wrapper {
      position: relative;
      width: 100%;
      height: $carousel-height;
    }

    &.item-one {
      background-image:  $pc-banner-1-bg;
      background-size: cover;
      .slogan {
        display: block;
        margin: 190px 0 0 60px;
      }
    }
    &.item-two {
      background-image: $pc-banner-2;
      .phone-element {
        position: absolute;
        @include absolute-y-middle;
        left: 88px;
      }
      .right-block {
        @include absolute-y-middle;
        right: 69px;

        .slogan {
          display: block;
        }
        .button-like {
          margin-left: 21px;
          margin-top: 30px;
        }
      }

    }
    &.item-three {
      background-image: $pc-banner-3;
      .content-group {
        @include absolute-y-middle;
        left: 100px;
        .slogan {
          display: block;
        }
        .button-like {
          margin-top: 22px;
          margin-left: 28px;
        }
      }
    }
  }



  .carousel-btn {
    transition: opacity 0.2s;
    opacity: 0;
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &.prev {
      left: 90px;
    }
    &.next {
      right: 90px;
    }
  }
  .ant-carousel .slick-dots-bottom, .ant-popover-placement-leftBottom>.ant-popover-content>.ant-popover-arrow, .ant-popover-placement-rightBottom>.ant-popover-content>.ant-popover-arrow {
    bottom: 30px;
  }
}

// 自定按钮颜色
.button-like {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 4px;
  &:hover {
    color: #fff;
  }
  &.red {
    background-color: #EF2A40;
  }
  &.purple {
    background-color: #6676FF;
  }
}
