<pc-home-carousel></pc-home-carousel>
<pc-core-container>
  <div class="middle-container">
    <div class="block-title">最新动态</div>
    <div class="inner-container middle">
      <pc-news-preview *ngFor="let news of newsList" [thumbnail]="news.thumbnail" [date]="news.date" [title]="news.title" [routerLink]="news.routerLink"></pc-news-preview>
    </div>
  </div>
</pc-core-container>
<pc-core-container>
  <div class="bottom-container">
    <div class="block-title">合作伙伴</div>
    <div class="inner-container bottom">
      <nz-carousel class="bottom-carousel">
        <div nz-carousel-content class="carousel-container">
          <div class="associate-block">
            <img *ngFor="let src of firstList" class="friendly-company" [src]="src" alt="">
          </div>
        </div>
        <div nz-carousel-content class="carousel-container">
          <div class="associate-block">
            <img *ngFor="let src of secondList" class="friendly-company" [src]="src" alt="">
          </div>
        </div>
      </nz-carousel>
    </div>
  </div>
</pc-core-container>
