<pc-home-carousel></pc-home-carousel>
<pc-core-container>
  <div class="middle-container">
    <div class="block-title">最新动态</div>
    <div class="inner-container middle">
      <pc-news-preview *ngFor="let news of NewsList" [thumbnail]="news.thumbnail" [date]="news.modifyDate" [title]="news.title" [id]="news.id"></pc-news-preview>
    </div>
    <div class="more-link"><a routerLink="/news-center/more-news">查看更多 》</a></div>
  </div>
</pc-core-container>
<pc-core-container>
  <div class="bottom-container">
    <div class="block-title">合作伙伴</div>
    <div class="inner-container bottom">
      <div class="move-mask move-mask-left"></div>
      <div class="move-mask move-mask-right"></div>
      <div class="line-move">
        <img [src]="getImage('home-logo1')" alt="">
        <img [src]="getImage('home-logo1')" alt="">
      </div>
      <div class="line-move line-even">
        <img [src]="getImage('home-logo2')" alt="">
        <img [src]="getImage('home-logo2')" alt="">
      </div>
      <div class="line-move">
        <img [src]="getImage('home-logo3')" alt="">
        <img [src]="getImage('home-logo3')" alt="">
      </div>
    </div>
  </div>
</pc-core-container>
