@import "src/styles/common.pc";

.middle-container {
  margin: 60px auto 40px;
}
.bottom-container {
  margin-bottom: 70px;
}

$carousel-height: 400px;
.bottom-carousel, .carousel-container {
  height: $carousel-height;
}

.associate-block {
  .friendly-company {
    float: left;
    width: 160px;
    margin: 0 16px 14px 0;
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.inner-container {
  width: 1200px;
  overflow: hidden;
  position: relative;
  .move-mask {
    position: absolute;
    height: 100%;
    width: 300px;
    z-index: 100;
    &.move-mask-left {
      left: 0;
      background:linear-gradient(90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0.36) 83%,rgba(255,255,255,0) 100%);
    }
    &.move-mask-right {
      right: 0;
      background:linear-gradient(-90deg,rgba(255,255,255,1) 0%,rgba(255,255,255,0.36) 83%,rgba(255,255,255,0) 100%);
    }
  }
  .line-move {
    width: 3420px;
    animation: move 30s linear infinite;
    @keyframes move {
      0% {
        transform: translate3d(-50%, 0, 0);
      }
      100% {
        transform: translate3d(0%, 0, 0);
      }
    }
    &.line-even {
      animation: move 36s linear infinite;
    }
  }
}

.more-link {
  text-align: right;
  cursor: pointer;
  margin-top: 15px;
  a {
    color: #D50032;
  }
}

pc-news-preview {
  float: left;
  margin: 0 10px;
}


