<h2 class="keywords">自由职业者 、个人就业、个人独资、中小微企业、个体工商户</h2>
<h2 class="keywords">委托代征、委托代征税款、委托代征权、委托代征证书</h2>
<pc-core-container className="product-intro-banner">
  <div class="banner-desc-container">
    <p class="desc-english">Product</p>
    <h2>产品介绍</h2>
    <p class="single-desc">“薪税管家+口袋工作室”</p>
  </div>
</pc-core-container>

<pc-core-container className="product-intro-container">
  <div class="product-intro pocket-studio">
    <div class="product-content">
      <div class="product-icon-content">
        <img class="product-pocket-icon" [src]="getImage('product-pocket-icon')" alt="">
        <img class="product-intro-packet" [src]="getImage('product-intro-packet')" alt="">
      </div>
      <h2>口袋工作室</h2>
      <h3>合规更省钱，自由职业第一步</h3>
      <p>口袋工作室（Smart Studio）专注为新就业形态自由职业者提供包括：价值资讯、个人工作室设立、工商税务登记、报税开票、商保社保、公积金缴纳、工作室托管等一站式综合商事服务。</p>
    </div>
    <div class="product-intro-bg"></div>
  </div>
</pc-core-container>
<pc-core-container className="product-intro-steward">
  <div class="product-intro steward">
    <div class="product-content">
      <div class="product-icon-content">
        <img class="product-pocket-icon" [src]="getImage('product-steward-icon')" alt="">
      </div>
      <h2>薪税管家</h2>
      <h3>企业发佣报税智能结算系统</h3>
      <p>薪税管家（Xinpayroll Manager）以科技赋能新就业形态商税结算，为平台型灵活用工企业提供数字化技术驱动的佣金管理、批量发放、实时支付、纳税申报、自动开票、账单管理、风控管理等一体化系统服务。</p>
      <a href="http://www.xinshuiguanjia.com/" target="_blank">了解更多</a>
    </div>
    <div class="product-intro-bg"></div>
  </div>
</pc-core-container>
