<pc-core-container className="xin-academy-banner">
  <img [src]="getImage('xin-academy-text')" alt="">
</pc-core-container>

<pc-core-container>
  <div class="xin-academy-introduce">
    <div class="introduce-content">
      <div class="logo"></div>
      <h3>2018年1月薪宝科技“薪研院”项目正式启动</h3>
      <p>薪宝“薪研院”汇集国内知名财税专家、高校学者，致力于探索自然人商税服务未来。“薪研院”以提升新就业形态效能为驱动力，研究行业趋势，助力释放自由生产力！</p>
      <p>薪宝科技创始人刘树兵对“薪研院”提出三个关键词要求：独立、严谨、前沿。</p>
    </div>
    <div class="introduce-bg"></div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">研究方向</div>
  <p class="block-title-english">RESEARCH DIRECTION</p>
  <div class="research-direction">
    <div class="research-direction-bg">
      <p>01</p>
      <h3>自然人税收</h3>
    </div>
    <div class="research-direction-bg direction2">
      <p>02</p>
      <h3>新经济税收征管</h3>
    </div>
    <div class="research-direction-bg direction3">
      <p>03</p>
      <h3>新就业形态社会保障</h3>
    </div>
    <div class="research-direction-bg direction4">
      <p>04</p>
      <h3>个体工商户及</h3>
      <h3>小微企业惠企纾困</h3>
    </div>
    <div class="research-direction-bg direction5">
      <p>05</p>
      <h3>新经济行业报告</h3>
      <h4>平台经济、共享经济、网红经济</h4>
    </div>
    <div class="research-direction-bg direction6">
      <p>06</p>
      <h3>新业态行业报告</h3>
      <h4>在线直播、网红带货、全民营销、知识付费、共享出行、在线教育、快递外送、社交电商</h4>
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">薪研报告</div>
  <p class="block-title-english">NEW RESEARCH REPORT</p>
  <div class="xin-academy-report">
    <div class="report-content">
      <h2>海南自贸港政策，薪宝科技独家解读</h2>
      <p class="time">2020-06-23</p>
      <p>对于海南岛的第三次大发展，从中央到地方都赋予了巨大期待，在政策配套层面高度倾斜和扶持。这次方案设计一定层度上代表了改革开放以来最高水平的开放形态......</p>
      <a routerLink="/news-center/news-detail/7">查看详情</a>
    </div>
    <div class="report-bg"></div>
  </div>
</pc-core-container>
