@import "src/styles/images.pc";
@import "src/styles/common.pc";
.xin-academy-banner {
  height: 452px;
  background: $xin-academy-banner center;
  background-size: cover;
}
.block-title-english {
  font-size: 16px;
  color: #666666;
  margin-top: -15px;
  text-align: center;
  margin-bottom: 48px;
}

.xin-academy-introduce {
  @include clear-fix;
  width: 890px;
  margin: 90px auto;
  .introduce-content {
    float: left;
    color: #000000;
    width: 348px;
    margin-right: 84px;
    .logo {
      width: 226px;
      height: 82px;
      background: $xin-academy-logo;
      margin-top: -10px;
    }
    h3 {
      font-size: 16px;
      margin: 55px 0 28px;
    }
    p {
      line-height: 22px;
      font-size: 12px;
    }
  }
  .introduce-bg {
    float: right;
    width: 458px;
    height: 290px;
    background: $xin-academy-open;
  }
}

.research-direction {
  width: 864px;
  margin: 0 auto 85px;
  @include clear-fix;
  .research-direction-bg {
    width: 262px;
    height: 274px;
    background: $xin-academy-forward-1;
    margin: 13px;
    text-align: center;
    color: #333333;
    font-size: 18px;
    float: left;
    padding: 104px 31px 0;
    line-height: 26px;
    p {
      width: 35px;
      height: 35px;
      text-align: center;
      border-bottom: 1px solid #333333;
      margin: 0 auto 16px;
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
      width: 212px;
      text-align: center;
    }
    &.direction2 {
      background: $xin-academy-forward-2;
    }
    &.direction3 {
      background: $xin-academy-forward-3;
    }
    &.direction4 {
      background: $xin-academy-forward-4;
      padding: 84px 31px 0;
    }
    &.direction5 {
      background: $xin-academy-forward-5;
      padding: 84px 31px 0;
    }
    &.direction6 {
      background: $xin-academy-forward-6;
      padding: 84px 31px 0;
    }
    &:hover {
      background: #F50039;
      color: #fff;
      p {
        border-bottom: 1px solid #fff;
      }
      h3,h4 {
        color: #fff;
      }
    }
  }
}

.xin-academy-report {
  width: 840px;
  margin: 75px auto 124px;
  @include clear-fix;
  .report-content {
    float: left;
    color: #656565;
    font-size: 14px;
    width: 422px;
    margin-right: 70px;
    line-height: 28px;
    h2 {
      font-size: 24px;
      font-weight: bold;
    }
    .time {
      font-size: 16px;
      margin: 15px 0;
    }
    a {
      display: inline-block;
      font-size: 12px;
      padding: 0 16px;
      border-radius: 14px;
      background-color: #EB292D;
      color: #fff;
      height: 28px;
      line-height: 28px;
      margin-top: 25px;
    }
  }
  .report-bg {
    float: right;
    width: 347px;
    height: 231px;
    background: $xin-academy-report;
  }
}
