@import "src/styles/images.pc";
@import "src/styles/common.pc";

.xin-innovation-vally-banner {
  height: 452px;
  background: $xin-innovation-vally-banner center;
  background-size: cover;
  text-align: right;
  img {
    margin: 150px 135px 0 0;
  }
}

.xin-innovation-introduce {
  @include clear-fix;
  margin: 78px 0 60px;
  .introduce-left {
    float: left;
    width: 445px;
    margin: 0 126px 0 74px;
    font-size: 12px;
    color: #000000;
    line-height: 22px;
    img {
      width: 196px;
      height: 83px;
      margin-top: 10px;
    }
    h3 {
      font-size: 16px;
      margin: 48px 0 30px;
    }
  }
  .introduce-right {
    float: left;
    img {
      width: 402px;
      height: 464px;
    }
  }
}

.xin-innovation-swiper-container {
  position: relative;
  --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
  --swiper-navigation-size: 18px;/* 设置按钮大小 */
  margin-top: 60px;
  .arrow {
    width: 42px;
    height: 42px;
    background-color: #999999;
    border-radius: 50%;
    &.swiper-button-prev {
      left: 0;
    }
    &.swiper-button-next {
      right: 0;
    }
    &:hover {
      background-color: #D50032;
      color: #fff;
    }
  }
  .swiper-container {
    width: 1110px;
    .swiper-slide {
      position: relative;
      color: #024588;
      width: 202px !important;
      height: 380px;
      margin: 0 10px;
      text-align: center;
      .swiper-title {
        font-size: 26px;
        margin-top: 70px;
      }
      .swiper-text {
        font-size: 8px;
        margin-top: 10px;
        height: 12px;
      }
      .swiper-desc {
        font-size: 10px;
        width: 150px;
        line-height: 20px;
        margin: 24px auto 0;
        color: #666666;
      }
      &.xin-innovation-vally-0 {
        background: $xin-innovation-vally-1;
      }
      &.xin-innovation-vally-1 {
        background: $xin-innovation-vally-2;
      }
      &.xin-innovation-vally-2 {
        background: $xin-innovation-vally-3;
      }
      &.xin-innovation-vally-3 {
        background: $xin-innovation-vally-4;
      }
      &.xin-innovation-vally-4 {
        background: $xin-innovation-vally-5;
      }
      &.xin-innovation-vally-5 {
        background: $xin-innovation-vally-6;
      }
      &.xin-innovation-vally-6 {
        background: $xin-innovation-vally-7;
      }
      &.xin-innovation-vally-7 {
        background: $xin-innovation-vally-8;
      }
      &.xin-innovation-vally-8 {
        background: $xin-innovation-vally-9;
      }
      &.xin-innovation-vally-9 {
        background: $xin-innovation-vally-10;
      }
    }
  }
}


.xin-innovation-vally-join-us {
  font-size: 18px;
  color: #333333;
  line-height: 26px;
  text-align: center;
  margin: 110px auto 165px;
  a {
    width: 180px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border-radius: 30px;
    background-color: #D50032;
    display: inline-block;
    margin-bottom: 50px;
  }
}
