<pc-core-container className="xin-innovation-vally-banner">
  <img [src]="getImage('xin-innovation-vally-text')" alt="">
</pc-core-container>

<pc-core-container>
  <div class="xin-innovation-introduce">
    <div class="introduce-left">
      <img [src]="getImage('xin-innovation-vally-logo')" alt="薪码力">
      <h3>2018年1月，薪宝科技“薪码力”项目正式启动</h3>
      <p>“薪码力”（ Xinpayroll Code Force ）是薪宝科技技术研发及大数据处理中心，目前已累计为100多个共享经济灵活用工平台型企业提供商税技术支撑及服务。</p>
      <p>“薪码力”致力于探索商税技术未来，旨在为灵活用工企业及广大自由职业者提供最前沿的商税技术解决方案。</p>
    </div>
    <div class="introduce-right">
      <img [src]="getImage('xin-innovation-vally-open')" alt="薪码力">
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">薪码力实验室</div>
  <img [src]="getImage('xin-innovation-vally-cpu')" alt="薪码力实验室">
</pc-core-container>

<pc-core-container>
  <div class="xin-innovation-swiper-container">
    <div id="gallery-valley" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" [class]="'xin-innovation-vally-' + index" *ngFor="let item of slides, index as index">
          <p class="swiper-title">{{ item.title }}</p>
          <p class="swiper-text">{{ item.text }}</p>
          <p class="swiper-desc">{{ item.desc }}</p>
        </div>
      </div>
    </div>
    <div class="swiper-button">
      <div class="arrow swiper-button-prev" (click)="swipePrev()"><i nz-icon nzType="left" nzTheme="outline"></i></div>
      <div class="arrow swiper-button-next" (click)="swipeNext()"><i nz-icon nzType="right" nzTheme="outline"></i></div>
    </div>
  </div>
</pc-core-container>

