@import "src/styles/common.admin";
.picture-list-container {
  .preview-img {
    padding: 0 !important;
  }
  .thumbnail {
    position: absolute;
    top: 10px;
    left: 16px;
    width: 60px;
    height: 46px;
    object-fit: cover;
    cursor: pointer;
  }
}
