<div class="list-container picture-list-container">
  <div class="nav-container">
    <h2 class="picture-list-title">图片管理</h2>
    <button nz-button nzType="primary" routerLink="edit-picture">上传图片</button>
    <button nz-button nzType="danger" (click)="deleteSelectedPictures()">批量删除</button>
  </div>
  <nz-table #nzTable [nzData]="pictureList" [nzTotal]="total" [nzPageSize]="10" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="40px" [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllCheckChange($event)"></th>
        <th nzWidth="80px">序号</th>
        <th>标题</th>
        <th>描述</th>
        <th nzWidth="200px">自定义上传日期</th>
        <th>权重</th>
        <th nzWidth="120px">类型</th>
        <th>缩略图</th>
        <th nzWidth="350px">操作</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of nzTable.data, index as index" >
        <tr>
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ index + 1 }}</td>
          <td nzEllipsis [nzTooltipTitle]="data.title" nz-tooltip>{{ data.title }}</td>
          <td nzEllipsis [nzTooltipTitle]="data.comment" nz-tooltip>{{ data.comment }}</td>
          <td>{{ data.modifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{ data.priority | picturePriority }}</td>
          <td>{{ data.type | pictureType  }}</td>
          <td class="preview-img">
            <img title="点击查看大图" [src]="data.url" class="thumbnail" alt="" (click)="openGallery(data.url, data.title)">
          </td>
          <td>
            <button nz-button nzType="primary" nzShape="round" [routerLink]="[ 'edit-picture', { id: data.id } ]" >编辑</button>
            <button nz-button nzType="primary" nzDanger nzShape="round" (click)="deleteOnePicture(data.id)">删除</button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</div>
<ngx-image-gallery
  [images]="imgList"
  [conf]="conf"
></ngx-image-gallery>
