@import "common.base";

$core-width: 1200px; // 版芯宽度
$footer-height: 240px; // 脚部高度
$header-height: 60px; // 头部高度

body {
  font-family: "PingFang SC", "Microsoft Yahei", serif;
  min-width: $core-width;
}

.block-title {
  color: #343434;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.banner-title {
  font-size: 38px;
  color: #fff;
  text-align: center;
  padding-top: 206px;
}

// 定制ng-zorro样式
// carousel下方点点
.ant-carousel .slick-dots li.slick-active button {
  background-color: $theme-color;
}
.ant-carousel .slick-dots li button {
  height: 8px;
  border-radius: 5px;
  background-color: #ccc;
}
