@import "common.base";

$core-width: 1200px; // 版芯宽度
$footer-height: 240px; // 脚部高度
$header-height: 60px; // 头部高度

body {
  font-family: "PingFang SC", "Microsoft Yahei", serif;
  min-width: $core-width;
}

.block-title {
  color: #343434;
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.banner-title {
  font-size: 38px;
  color: #fff;
  text-align: center;
  padding-top: 206px;
}
.banner-desc-container {
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding-top: 158px;
  font-family: Arial, "PingFang SC", "Microsoft Yahei", serif;
  font-weight: 400;
  h2 {
    margin: 30px auto 40px;
    font-size: 54px;
    color: #fff;
    font-family: Arial, "PingFang SC", "Microsoft Yahei", serif;
    font-weight: 400;
    line-height: 54px;
  }
}

// 定制ng-zorro样式
// carousel下方点点
.ant-carousel .slick-dots li.slick-active button {
  background-color: $theme-color;
  width: 24px;
}
.ant-carousel .slick-dots li button {
  width: 16px;
  margin: 0 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #ccc;
}

.keywords {
  height: 0;
  width: 1px;
  overflow: hidden;
  text-indent: -10000px;
}

.more-link {
  text-align: right;
  cursor: pointer;
  margin-top: 15px;
  color: $theme-color;
  a {
    color: $theme-color;
    font-size: 16px;
  }
}

// 展示更多的icon和文字样式
.expand-put-away {
  margin-bottom: 50px;
  text-align: center;
  .expand-put-away-container {
    cursor: pointer;
    display: inline-block;
    &:hover {
      .action-icon {
        transform: scale(1.2);
      }
    }
  }
  .action-icon {
    width: 62px;
    height: 62px;
    border: 2px solid #343434;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    line-height: 62px;
    color: #343434;
    margin: auto;
    transition: all 0.5s ease-in-out;
  }
  p {
    margin-top: 9px;
    font-size: 16px;
    color: #343434;
  }
}


nz-pagination {
  text-align: center;
}
.ant-pagination-item-active, .ant-pagination-item:focus, .ant-pagination-item:hover, .ant-pagination-next:focus .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link, .ant-pagination-prev:focus .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link {
  border-color: $theme-color;
  background-color: $theme-color;
  a, svg {color: #fff;}
}
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon, .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: $theme-color;
}
