$theme-color: #D60033;

@mixin absolute-y-middle() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin clear-fix() {
  zoom: 1;
  &:after {
    visibility: hidden;
    display: block;
    content: '';
    clear: both;
  }
}
