// todo 到时替换成oss上的？
$pc-banner-1: url('src/assets/images/pc-banner-1.jpg');
$pc-banner-2: url('src/assets/images/pc-banner-2.jpg');
$pc-banner-3: url('src/assets/images/pc-banner-3.jpg');
$pc-banner-4: url('src/assets/images/pc-banner-4.jpg');
$about-us-banner-1: url('src/assets/images/about-us-banner-1.jpg');
$about-us-banner-2: url('src/assets/images/about-us-banner-2.png');
$information-center-banner: url('src/assets/images/information-center-banner.jpg');
$product-intro-banner: url('src/assets/images/product-intro-banner.jpg');
$product-steward-icon: url('src/assets/images/product-steward-icon.png');
$product-steward: url('src/assets/images/product-steward.png');
$product-pocket-studio: url('src/assets/images/product-pocket-studio.png');
$product-pocket-icon: url('src/assets/images/product-pocket-icon.png');
$xin-academy-banner: url('src/assets/images/xin-academy-banner.jpg');
$xin-academy-logo: url('src/assets/images/xin-academy-logo.png');
$xin-academy-open: url('src/assets/images/xin-academy-open.png');
$xin-academy-report: url('src/assets/images/xin-academy-report.png');
$xin-academy-forward-1: url('src/assets/images/xin-academy-forward-1.png');
$xin-academy-forward-2: url('src/assets/images/xin-academy-forward-2.png');
$xin-academy-forward-3: url('src/assets/images/xin-academy-forward-3.png');
$xin-academy-forward-4: url('src/assets/images/xin-academy-forward-4.png');
$xin-academy-forward-5: url('src/assets/images/xin-academy-forward-5.png');
$xin-academy-forward-6: url('src/assets/images/xin-academy-forward-6.png');
$join-us-banner: url('src/assets/images/join-us-banner.jpg');
$xin-innovation-vally-banner: url('src/assets/images/xin-innovation-vally-banner.jpg');
$xin-town-banner: url('src/assets/images/xin-town-banner.jpg');
$xin-innovation-vally-1: url('src/assets/images/xin-innovation-vally-1.png');
$xin-innovation-vally-2: url('src/assets/images/xin-innovation-vally-2.png');
$xin-innovation-vally-3: url('src/assets/images/xin-innovation-vally-3.png');
$xin-innovation-vally-4: url('src/assets/images/xin-innovation-vally-4.png');
$xin-innovation-vally-5: url('src/assets/images/xin-innovation-vally-5.png');
$xin-innovation-vally-6: url('src/assets/images/xin-innovation-vally-6.png');
$xin-innovation-vally-7: url('src/assets/images/xin-innovation-vally-7.png');
$xin-innovation-vally-8: url('src/assets/images/xin-innovation-vally-8.png');
$xin-innovation-vally-9: url('src/assets/images/xin-innovation-vally-9.png');
$xin-innovation-vally-10: url('src/assets/images/xin-innovation-vally-10.png');
$product-steward-banner: url('src/assets/images/product-steward-banner.png');
$product-studio-banner: url('src/assets/images/product-studio-banner.png');
$product-studio-carousel-bg: url('src/assets/images/product-studio-carousel-bg.png')
