// todo 到时替换成oss上的？
$pc-banner-1: url('src/assets/images/pc-banner-1.png');
$pc-banner-2: url('src/assets/images/pc-banner-2.png');
$pc-banner-3: url('src/assets/images/pc-banner-3.png');
$about-us-banner-1: url('src/assets/images/about-us-banner-1.png');
$about-us-banner-2: url('src/assets/images/about-us-banner-2.png');
$information-center-banner: url('src/assets/images/information-center-banner.png');
$product-intro-banner: url('src/assets/images/product-intro-banner.png');
$product-steward-icon: url('src/assets/images/product-steward-icon.png');
$product-steward: url('src/assets/images/product-steward.png');
$product-pocket-studio: url('src/assets/images/product-pocket-studio.png');
$product-pocket-icon: url('src/assets/images/product-pocket-icon.png');
$xin-academy-banner: url('src/assets/images/xin-academy-banner.png');
$xin-academy-logo: url('src/assets/images/xin-academy-logo.png');
$xin-academy-open: url('src/assets/images/xin-academy-open.png');
$xin-academy-report: url('src/assets/images/xin-academy-report.png');
$xin-academy-forward-1: url('src/assets/images/xin-academy-forward-1.png');
$xin-academy-forward-2: url('src/assets/images/xin-academy-forward-2.png');
$xin-academy-forward-3: url('src/assets/images/xin-academy-forward-3.png');
$xin-academy-forward-4: url('src/assets/images/xin-academy-forward-4.png');
$xin-academy-forward-5: url('src/assets/images/xin-academy-forward-5.png');
$xin-academy-forward-6: url('src/assets/images/xin-academy-forward-6.png');
$join-us-banner: url('src/assets/images/join-us-banner.png');
