// todo 到时替换成oss上的？
$pc-banner-1: url('src/assets/images/pc-banner-1.png');
$pc-banner-2: url('src/assets/images/pc-banner-2.png');
$pc-banner-3: url('src/assets/images/pc-banner-3.png');
$about-us-banner-1: url('src/assets/images/about-us-banner-1.png');
$about-us-banner-2: url('src/assets/images/about-us-banner-2.png');
