<div class="news-list-container">
  <h2 class="news-list-title">文章列表</h2>
  <nz-table #nzTable [nzData]="articleList" nzTableLayout="fixed">
    <thead>
    <tr>
      <th>序号</th>
      <th>标题</th>
      <th>发布时间</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of nzTable.data, index as index">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ data.title }}</td>
        <td>{{ data.modifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
        <td>{{ data.status ? '已上线' : '已下线'}}</td>
        <td>
          <button nz-button nzType="primary" nzShape="round" routerLink="create-article">编辑</button>
<!--          <button nz-button nzType="dashed" nzShape="round" [nzDanger]="data.status === 1">{{ data.status ? '下线' : '上线' }}</button>-->
        </td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</div>
