
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzWidth="200px"
            nzBreakpoint="md">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img [src]="getImage('logo-light')" alt="logo">
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item nz-tooltip nzTitle="文章管理" routerLink="/admin/news-list" [nzMatchRouter]="true">
        <i nz-icon nzType="form"></i>
        <span>文章管理</span>
      </li>
      <li nz-menu-item nz-tooltip nzTitle="图片管理" routerLink="/admin/picture-manager" [nzMatchRouter]="true">
        <i nz-icon nzType="picture"></i>
        <span>图片管理</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


