<h2 class="keywords">自由职业者 、个人就业、个人独资、中小微企业、个体工商户</h2>
<h2 class="keywords">委托代征、委托代征税款、委托代征权、委托代征证书</h2>
<pc-core-container className="product-intro-banner">
  <div class="banner-desc-container">
    <p class="desc-english">Product</p>
    <h2>产品介绍</h2>
    <p class="single-desc">“口袋工作室 + 佣金宝”</p>
  </div>
</pc-core-container>

<pc-core-container className="product-intro-container">
  <div class="product-intro pocket-studio">
    <div class="product-content">
      <div class="product-icon-content">
        <img class="product-pocket-icon" [src]="getImage('product-pocket-icon')" alt="口袋工作室">
      </div>
      <h2>口袋工作室</h2>
      <h3>个人商事综合服务平台</h3>
      <p>口袋工作室（Smart Studio）专注打造个人商事综合服务平台，依托微服务理念，构建自由职业者社群体系，为新就业形态个体提供包括工商税务登记、开票管理、纳税申报、商业保险、智能托管、价值资讯等全方位商税保障服务。</p>
      <a routerLink="smart-studio" rel="nofollow">了解更多</a>
    </div>
    <div class="product-intro-bg"></div>
  </div>
</pc-core-container>
<pc-core-container className="product-intro-steward">
  <div class="product-intro steward">
    <div class="product-content">
      <div class="product-icon-content">
        <img class="product-pocket-icon" [src]="getImage('product-steward-icon')" alt="薪税管家">
      </div>
      <h2>佣金宝</h2>
      <h3>企业发佣报税智能结算系统</h3>
      <p>佣金宝（Xinpayroll Platform），是企业发佣报税智能结算系统，依托SaaS，专注为共享经济平台企业提供提供数字化驱动的佣金管理、批量发放、实时支付、自动开票、纳税申报、账单管理、风控管理等一站式智能发佣报税解决方案。</p>
      <a routerLink="xinpayroll-manager" rel="nofollow">了解更多</a>
    </div>
    <div class="product-intro-bg"></div>
  </div>
</pc-core-container>
