<div class="edit-form-container create-article">
  <h2 class="form-title">{{ validateForm.value.id ? '编辑文章' : '新增文章'}}</h2>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="title">标题</nz-form-label>
      <nz-form-control nzErrorTip="请输入文章标题">
        <input nz-input formControlName="title" id="title" placeholder="请输入文章标题" ngModel/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="status">是否发布</nz-form-label>
      <nz-form-control nzErrorTip="请选择是否发布">
        <nz-select id="status" formControlName="status" nzPlaceHolder="请选择是否发布" ngModel>
          <nz-option *ngFor="let option of statusOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="priority">文章重要级别</nz-form-label>
      <nz-form-control nzErrorTip="请选择文章重要级别">
        <nz-select id="priority" formControlName="priority" nzPlaceHolder="请选择文章重要级别" ngModel>
          <nz-option *ngFor="let option of priorityOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired nzFor="type">文章分类</nz-form-label>
      <nz-form-control nzErrorTip="请选择文章重要级别">
        <nz-select id="type" formControlName="type" nzPlaceHolder="请选择文章重要级别" nzMode="multiple">
          <nz-option *ngFor="let option of typeOptions" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>发布时间</nz-form-label>
      <nz-form-control nzErrorTip="请选择发布时间">
        <nz-date-picker
          nzShowTime
          formControlName="modifyDate"
          nzFormat="yyyy-MM-dd HH:mm:ss"
          nzPlaceHolder="请选择发布时间"
          ngModel
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="width: 100%">
      <nz-form-label nzRequired>上传缩略图</nz-form-label>
      <nz-form-control nzErrorTip="请上传上传缩略图">
        <nz-upload
          class="avatar-uploader"
          nzAction=""
          nzName="avatar"
          nzListType="picture-card"
          nzAccept="image/*"
          [nzCustomRequest]="customRequest"
          [nzShowUploadList]="false"
          (nzChange)="handleChange($event)"
        >
          <ng-container *ngIf="!validateForm.value.thumbnail">
            <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">上传缩略图</div>
          </ng-container>
          <img *ngIf="validateForm.value.thumbnail" [src]="validateForm.value.thumbnail" style="width: 100%" />
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item style="width: 100%;">
      <nz-form-label nzRequired>文章内容</nz-form-label>
      <nz-form-control nzErrorTip="请输入文章内容">
        <editor formControlName="content" [init]="tinyOptions" ngModel></editor>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" style="margin-left: 150px" [disabled]="!validateForm.valid">保存</button>
  </form>
</div>
