
<header class="header-container">
  <pc-core-container>
    <div class="header-wrapper">
      <h1>
        <a routerLink="/" title="薪宝科技">
          <img [src]="getImage('logo-dark')" class="title-logo" alt="薪宝科技">
        </a>
      </h1>
      <div class="router-container">
        <a *ngFor="let routerInfo of headerRoutes" [routerLink]="'/' + routerInfo.name" [title]="'薪宝科技-' + routerInfo.title" routerLinkActive="current-page" [routerLinkActiveOptions]="{exact:true}">{{ routerInfo.title }}</a>
      </div>
    </div>
  </pc-core-container>
</header>
