@import "src/styles/common.pc";

$news-preview-width: 278px;
$news-preview-height: 170px;

.news-preview {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 280px;
  cursor: pointer;
  //border-top: none;
  .preview-thumbnail {
    display: block;
    width: $news-preview-width;
    height: $news-preview-height;
    object-fit: cover;
  }
  .content-block {
    box-sizing: border-box;
    padding: 20px;
    .news-title {
      font-size: 16px;
      height: 50px;
      line-height: 25px;
      color: #343434;
      width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; //行数
      -webkit-box-orient: vertical;
    }
    .news-date {
      font-size: 12px;
      color: #A1A1A1;
      margin: 12px 0  20px;
    }
    .router-link {
      display: block;
      position: relative;
      $router-height: 18px;
      font-size: 12px;
      color: #ccc;
      span {
        line-height: $router-height;
      }
      .svg-icon {
        display: block;
        position: absolute;
        @include absolute-y-middle;
        right: 0;
      }
    }
  }
  &:hover {
    .content-block .router-link {
      color: $theme-color;
    }
  }
}
