@import "../../../../../styles/common.pc";

.core-container-outer {
  min-width: $core-width;
  width: 100%;
  .core-container-inner {
    height: 100%;
    width: $core-width;
    margin: 0 auto;
  }
}
