<pc-core-container className="join-us-banner">
  <div class="banner-desc-container">
    <p class="desc-english">Join Us</p>
    <h2>加入我们</h2>
    <p class="single-desc">“认真工作，快乐生活”</p>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="join-us-core">
    <div class="block-title">企业文化</div>
    <p class="core-text">以客户为中心、拥抱变化、创新、包容、真实、激情、敬业</p>
  </div>
</pc-core-container>

<pc-core-container className="join-us-environment-live">
  <nz-tabset [nzTabBarGutter]="180" [nzSize]="'large'">
    <nz-tab nzTitle="工作环境">
      <div class="company-container">
        <img *ngFor="let item of environmentPicture" [src]="item.url" alt="">
      </div>
      <div class="more-link">
        <a [routerLink]="['enterprise-culture-more', { type: PictureType.Environment }]">查看更多 》</a>
      </div>
    </nz-tab>
    <nz-tab nzTitle="小伙伴生活">
      <div class="company-container">
        <img *ngFor="let item of friendPicture" [src]="item.url" alt="">
      </div>
      <div class="more-link">
        <a [routerLink]="['enterprise-culture-more', { type: PictureType.Friend }]">查看更多 》</a>
      </div>
    </nz-tab>
  </nz-tabset>
</pc-core-container>

<pc-core-container className="station-container">
  <div class="block-title">招聘岗位</div>
  <div class="recruitment-content">
    <div class="recruitment-group">
      <div class="arrow selector-left" (click)="clickArrow('left')"><img [src]="base64Pics.SELECTOR_LEFT" alt=""></div>
      <div [class]="label === departments[currIndex] ? 'active' : ''" *ngFor="let label of displayDepartmentList" (click)="selectTab(label)">{{ label }}</div>
      <div class="arrow selector-right" (click)="clickArrow('right')" ><img [src]="base64Pics.SELECTOR_RIGHT" alt=""></div>
    </div>
  </div>
  <div class="join-us-table">
    <nz-table #nzTable [nzData]="recruitDetail[currentTab]" nzTableLayout="fixed" [nzShowPagination]="false" [nzWidthConfig]="['480px', '160px', '200px', '200px', '50px']">
      <thead>
        <tr>
          <th>职位</th>
          <th>部门</th>
          <th>工作地</th>
          <th>发布时间</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of nzTable.data">
          <tr>
            <td>{{ data.title }}<nz-tag *ngIf="data.eager" [nzColor]="'#F36374'">急</nz-tag><nz-tag *ngIf="data.hot" [nzColor]="'#30CBF3'">新</nz-tag></td>
            <td>{{ data.department.label }}</td>
            <td>{{ data.location }}</td>
            <td>{{ data.modifyDate | date:'yyyy-MM-dd' }}</td>
            <td class="collapse-arrow" [nzExpand]="expandSet.has(data.id)" (nzExpandChange)="onExpandChange(data.id, $event)"><i [class]="expandSet.has(data.id) ? 'rotateUp' : rotateActive ? 'rotateDown': ''" nz-icon nzType="down" nzTheme="outline"></i></td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.id)">
           <td>
             <ul class="recruit-detail">
               <li *ngIf="data.content.duty"><span>岗位职责：</span><p *ngFor="let item of data.content.duty | spliceEnter">{{ item }}</p></li>
               <li *ngIf="data.content.requirement"><span>任职要求：</span><p *ngFor="let item of data.content.requirement | spliceEnter">{{ item }}</p></li>
               <li><p *ngFor="let item of data.content.other | spliceEnter">{{ item }}</p></li>
             </ul>
              <div class="send-way">
                <p>应聘此职位，投递简历至 <a href="mailto:HR@xinpayorll.com">HR@xinpayorll.com</a></p>
                <p>简历投递格式请以“应聘职位+姓名”作为邮件标题。</p>
              </div>
           </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</pc-core-container>
