<pc-core-container className="join-us-banner">
  <div class="banner-desc-container">
    <p class="desc-english">Join Us</p>
    <h2>加入我们</h2>
    <p class="single-desc">“认真工作，快乐生活”</p>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="join-us-core">
    <div class="block-title">企业文化</div>
    <p class="core-text">以客户为中心、拥抱变化、创新、包容、真实、激情、敬业</p>
  </div>
</pc-core-container>

<pc-core-container className="join-us-environment-live">
  <nz-tabset [nzTabBarGutter]="180" [nzSize]="'large'">
    <nz-tab nzTitle="工作环境">
      <div class="company-container">
        <img *ngFor="let item of environmentPicture" [src]="item.url | imgResize:360:200" alt="">
      </div>
      <div class="more-link">
        <a [routerLink]="['enterprise-culture-more', { type: PictureType.Environment }]">查看更多 》</a>
      </div>
    </nz-tab>
    <nz-tab nzTitle="小伙伴生活">
      <div class="company-container">
        <img *ngFor="let item of friendPicture" [src]="item.url | imgResize:360:200" alt="">
      </div>
      <div class="more-link">
        <a [routerLink]="['enterprise-culture-more', { type: PictureType.Friend }]">查看更多 》</a>
      </div>
    </nz-tab>
  </nz-tabset>
</pc-core-container>

<pc-core-container>
  <div class="block-title">招聘岗位</div>
  <div class="recruitment-box">
    <div class="recruitment-way">
      <p>社会招聘</p>
      <img [src]="getImage('Illustration-1')" alt="">
      <a target="_blank" href="https://app.mokahr.com/apply/xinbao/23973#/">立即投递</a>
    </div>
    <div class="recruitment-way">
      <p>校园招聘</p>
      <img [src]="getImage('Illustration-2')" alt="">
      <a target="_blank" href="https://app.mokahr.com/campus_apply/xinbao/23974#/">立即投递</a>
    </div>
    <div class="recruitment-way">
      <p>内部推荐</p>
      <img [src]="getImage('Illustration-3')" alt="">
      <a target="_blank" href="https://app.mokahr.com/recommendation-apply/xinbao/23975#/">立即投递</a>
    </div>
  </div>
</pc-core-container>

