<h2 class="keywords">灵活用工、灵活就业</h2>
<pc-core-container className="about-us-banner">
  <div class="banner-desc-container">
    <p class="desc-english">About Us</p>
    <h2>关于我们</h2>
    <p class="single-desc">“助力新就业形态提升商税效能释放自由生产力”</p>
  </div>
</pc-core-container>

<pc-core-container className="about-us-description">
  <h2 class="block-title">关于我们</h2>
  <div class="description-content">薪宝信息科技（广州）有限公司，是新就业形态下连接灵活用工平台与自由职业者的关键商税服务纽带。薪宝科技以产品技术研发和服务模式创新为核心驱动力，依托于SaaS和最佳报税模型，为新经济平台企业提供一站式发佣、结算、对账、开票、完税服务，为广大自由职业者提供工商税务登记、开票管理、纳税申报、商保社保、公积金缴纳等全方位商事服务。</div>
</pc-core-container>

<pc-core-container className="about-us-company-wish">
  <h2 class="block-title">企业愿景</h2>
  <div class="description-content">以科技赋能新就业形态发佣报税，服务2亿自由职业者！</div>
</pc-core-container>

<pc-core-container className="about-us-banner-2"></pc-core-container>

<pc-core-container className="about-us-history">
  <h2 class="block-title">企业大事件</h2>
  <div class="selector-container">
    <div class="arrow selector-left" (click)="clickArrow('left')"><img [src]="base64Pics.SELECTOR_LEFT" alt=""></div>
    <div *ngFor="let item of displayDateList" (click)="selectTab(item.year)" class="selector" [class]="item.year === dateList[currIndex].year ? 'active' : ''">{{ item.year }} {{ item.label }}</div>
    <div class="arrow selector-right" (click)="clickArrow('right')" ><img [src]="base64Pics.SELECTOR_RIGHT" alt=""></div>
  </div>
  <div class="selector-content">
    <h3>{{ currentTab?.year }}年大事件</h3>
    <nz-timeline>
      <nz-timeline-item *ngFor="let item of dateDictionary[currentTab?.year]" nzColor="#D50031"><span class="position-left">{{ item.title }}</span>{{ item.detail }}</nz-timeline-item>
    </nz-timeline>
  </div>
</pc-core-container>

<pc-core-container>
  <h2 class="block-title">企业荣誉</h2>
  <ul class="honor-box">
    <li *ngFor="let item of honorSliceList">
      <img [src]="item.url" class="box-img">
      <p class="box-title">{{ item.title }}</p>
    </li>
  </ul>
  <div class="expand-put-away" *ngIf="honorList.length > 8">
    <div class="expand-put-away-container" (click)="expandMore()">
      <div class="action-icon"><i nz-icon [nzType]="expandActive ? 'minus' : 'plus'" nzTheme="outline"></i></div>
      <p>{{ expandActive ? '收起' : '了解更多'}}</p>
    </div>
  </div>
</pc-core-container>


