<pc-core-container className="about-us-banner">
  <h2>关于我们</h2>
</pc-core-container>

<pc-core-container className="about-us-description">
  <h2 class="block-title">关于我们</h2>
  <div class="description-content">薪宝科技是新经济新就业形态下连接灵活用工平台与自由职业者的关键商税服务纽带，薪宝科技为灵活用工企业提供数字化技术驱动的一站式商税解决方案，为广大自由职业者提供包括工商税务登记、开票管理、纳税申报、商保社保、公积金缴纳等一站式综合商税服务。</div>
</pc-core-container>

<pc-core-container className="about-us-company-wish">
  <h2 class="block-title">企业愿景</h2>
  <div class="description-content">深耕共享经济产业，利用新技术优势，打造互联网自由职业者综合服务生态， 助力新就业形态提升效能，释放自由生产力！</div>
</pc-core-container>

<pc-core-container className="about-us-banner-2"></pc-core-container>

<pc-core-container className="about-us-history">
  <h2 class="block-title">企业大事件</h2>
  <div>
    <div class="selector-container">
      <div class="arrow selector-left" (click)="selectTab(active, 'left')"><img [src]="base64Pics.SELECTOR_LEFT" alt=""></div>
      <div *ngFor="let item of dateList" (click)="selectTab(item)" class="selector" [class]="item === active ? 'active' : ''">{{ item }}</div>
      <div class="arrow selector-right" (click)="selectTab(active, 'right')" ><img [src]="base64Pics.SELECTOR_RIGHT" alt=""></div>
    </div>
    <div class="selector-content">
      <h3>{{ active }}年大事件</h3>
      <nz-timeline>
        <nz-timeline-item *ngFor="let item of dateDictionary[active]" nzColor="#D50031"><span class="position-left">{{ item.time }}</span>{{ item.content }}</nz-timeline-item>
      </nz-timeline>
    </div>
  </div>
</pc-core-container>


