<pc-core-container className="information-center-banner">
  <h2 class="banner-title">新闻中心</h2>
</pc-core-container>

<pc-core-container>
  <div class="news-container hot-news">
    <div class="block-title">热门报道</div>
    <div class="inner-container">
      <pc-news-preview *ngFor="let news of hotsNewsList" [thumbnail]="news.thumbnail" [date]="news.modifyDate" [title]="news.title" [id]="news.id"></pc-news-preview>
    </div>
    <div class="more-link"><a routerLink="./more-news">查看更多 》</a></div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="news-container">
    <div class="block-title">往期动态</div>
    <div class="inner-container">
      <pc-news-preview *ngFor="let news of oldNewsList" [thumbnail]="news.thumbnail" [date]="news.modifyDate" [title]="news.title" [id]="news.id"></pc-news-preview>
    </div>
    <div class="more-link"><a>查看更多 》</a></div>
  </div>
</pc-core-container>

<pc-core-container className="honer-container">
  <div class="block-title">荣誉奖项</div>
  <ul class="honer-article">
    <li *ngFor="let data of honerNewsList">
      <a routerLink="/news-center/news-detail/{{ data.id }}">
        <p>{{ data.title }}</p>
        <span>{{ data.modifyDate | date:'yyyy-MM' }}</span>
      </a>
    </li>
  </ul>
</pc-core-container>
