<pc-core-container className="xin-town-banner"></pc-core-container>

<pc-core-container>
  <div class="xin-town-introduce">
    <div class="introduce-left">
      <img [src]="getImage('xin-town-logo')" alt="">
      <h3>2018年10月薪宝科技“薪商小镇”项目正式启动</h3>
      <p>“薪商小镇”是薪宝科技为新就业形态下自由职业者打造的一站式智慧商事生态圈。同时也是薪宝科技“线上平台服务+线下园区落地”商业模式的重要组成部分。“薪商小镇”连接政府机构、财税机构、金融机构、平台企业，以技术驱动赋能中国2亿自由职业者。在为自由职业者打造工商、资质、财税、金融、保险智慧商事生态的同时，“薪商小镇”对于地方政府拉动招商引资、优化经济结构、提升财政收入也将发挥巨大作用。我们的愿景是将“薪商小镇”落户全国，为更多自由职业者提供数字化驱动的一站式智慧商事服务。</p>
    </div>
    <div class="introduce-right">
      <img [src]="getImage('xin-town-map')" alt="">
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">薪商小镇服务生态</div>
  <div class="xin-town-service">
    <div class="service-box">
      <img [src]="getImage('xin-town-1')" alt="">
      <h3>工商</h3>
      <p>工商注册、刻章、营业执照快递、变更、注销等</p>
    </div>
    <div class="service-box">
      <img [src]="getImage('xin-town-2')" alt="">
      <h3>资质</h3>
      <p>食品流通许可、食品预包装化妆品安全卫生许可证</p>
    </div>
    <div class="service-box">
      <img [src]="getImage('xin-town-3')" alt="">
      <h3>财税</h3>
      <p>财务托管、记账报税、财税咨询、审计服务等</p>
    </div>
    <div class="service-box">
      <img [src]="getImage('xin-town-4')" alt="">
      <h3>金融</h3>
      <p>个体、自由职业者资金支持、信贷服务等</p>
    </div>
    <div class="service-box">
      <img [src]="getImage('xin-town-5')" alt="">
      <h3>保险</h3>
      <p>个体、自由职业者社保、商保服务等</p>
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">薪商小镇服务特色</div>
  <div class="xin-town-feature">
    <div class="feature-box">
      <h2>地址免费，执照全国可用</h2>
      <p>园区为自由职业者提供免费地址，无需租用办公场地，落户园区，执照全国通用。</p>
    </div>
    <div class="feature-box">
      <h2>政府合作，高效快速可靠</h2>
      <p>“薪商小镇”园区与地方政府签署战略合作框架协议，为用户省去众多中间跑腿环节。</p>
    </div>
    <div class="feature-box">
      <h2>法人无须到场，在线申领执照</h2>
      <p>快速获取线上电子执照，与纸质执照具有相同法律效力。法人无须亲自前往工商部门，足不出户就能办理。</p>
    </div>
    <div class="feature-box">
      <h2>专属客服海量优惠</h2>
      <p>我们为每位用户提供免费专属客服，专业注册指导，并提供包括配套记账、报税等专项优惠套餐服务。</p>
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="block-title">薪商小镇创客群</div>
  <div class="xin-town-thumb">
    <div id="gallery" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img [src]="getImage('xin-town-big-bg-1')" /></div>
        <div class="swiper-slide"><img [src]="getImage('xin-town-big-bg-2')" /></div>
      </div>
    </div>
    <div id="thumbs" class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><span class="invert-matte"></span><img [src]="getImage('xin-town-small-bg-1')"/></div>
        <div class="swiper-slide"><span class="invert-matte"></span><img [src]="getImage('xin-town-small-bg-2')"/></div>
      </div>
    </div>
  </div>
</pc-core-container>

<pc-core-container>
  <div class="xin-town-maker">
    <div class="maker-box">
      <h2>泛电商自由职业者</h2>
      <p>个人电商、微商、直播、主播、网红、海淘、代购</p>
    </div>
    <div class="maker-box">
      <h2>专业垂直自由职业者</h2>
      <p>自由撰稿人、自由经纪人、自由设计师、自由摄影师等</p>
    </div>
    <div class="maker-box">
      <h2>共享经济自由职业者</h2>
      <p>出行司机，外卖小哥，到家服务，全民营销经理人，在线教师，知识分享讲师</p>
    </div>
  </div>
</pc-core-container>
