@import "src/styles/common.pc";

$bottom-height: 54px;
$border-height: 1px;

.footer-container {
  width: 100%;
  height: $footer-height;
  background-color: #39393B;
  color: #CBCBCB;


  .top-container {
    height: $footer-height - $bottom-height - $border-height;
    .wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      .content {
        position: absolute;
        @include absolute-y-middle;
        width: 100%;
        z-index: 1000;
        padding: 0 96px 0 35px;
        .top {
          position: relative;
          .left {
            .logo-light {
              display: block;
              height: 35px;
            }
            .text {
              margin-top: 20px;
              color: #CBCBCB;
              font-size: 12px;
              .text-content {
                display: inline-block;
                margin-right: 20px;
              }
            }
          }
          .right {
            position: absolute;
            right: 0;
            @include absolute-y-middle;
            margin-top: 26px;

            .item {
              display: inline-block;
              margin-left: 25px;
              position: relative;
              vertical-align: middle;
              font-size: 12px;

              .sns-icon {
                width: 45px;
              }

              &.with-qrcode:hover {
                .qrcode-block {
                  display: block;
                }
              }
              .qrcode-block {
                display: none;
                position: absolute;
                bottom: 150%;
                right: -130%;
                background-color: #fff;
                .qrcode-description {
                  display: block;
                  font-size: 10px;
                  line-height: 30px;
                  text-align: center;
                  color: #3A3A3C;
                }
                .qrcode-icon {
                  width: 155px;
                }
              }
            }
          }
        }
        .bottom {
          margin-top: 20px;
          font-size: 10px;
          color: #CBCBCB;
          line-height: 24px;
        }
      }
    }
  }
  .bottom-container {
    border-top: $border-height solid #aaa;
    .content {
      text-align: center;
      font-size: 12px;
      line-height: $bottom-height;
      a {
        color: #CBCBCB;
        &:hover {
          color: #D50032;
        }
      }
    }
  }
}
