<footer class="footer-container">
  <pc-core-container className="top-container">
    <div class="wrapper">
      <div class="content">
        <div class="top">
          <div class="left">
            <img [src]="images.LOGO_LIGHT" class="logo-light" alt="logo">
            <div class="text">
              <span class="text-content">地址：{{ companyInfo.ADDRESS }}</span>
              <span>电话：</span>
              <span *ngFor="let phone of companyInfo.TELEPHONES" class="text-content">{{ phone }}</span>
            </div>
          </div>
          <div class="right">
            <div class="item">关注我们：</div>
            <div class="item"><a [href]="companyInfo.WEIBO_HREF" target="_blank"><img [src]="images.ICON_WEIBO" class="sns-icon" alt="微博"></a></div>
            <div class="item with-qrcode">
              <img [src]="images.ICON_WECHAT" class="sns-icon wechat" alt="微信">
              <div class="qrcode-block">
                <img [src]="images.QRCODE_XBKJ" class="qrcode-icon" alt="二维码">
                <span class="qrcode-description">薪宝科技服务号</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div *ngFor="let content of misc">{{ content }}</div>
        </div>
      </div>
    </div>
  </pc-core-container>
  <pc-core-container className="bottom-container">
    <div class="content">{{ companyInfo.COPYRIGHT }} © <a [href]="gongXinBuUrl" target="_blank">{{ companyInfo.BEIAN }}</a></div>
  </pc-core-container>
</footer>
